@charset "UTF-8";
/* variable */
:root {
  --font-color: #000;
  --font-color02: #fff;
  --font-sans: "Yu Mincho", "YuMincho", "游明朝", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Noto Serif JP", serif;
  --main-color: #4D9600;
  --border-color-gray: #55A500;
}

/* base */
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
}

body {
  font-family: var(--font-sans);
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.5625;
  color: var(--font-color);
}

@media (max-width: 767px) {
  body {
    font-size: 1.6rem;
    line-height: 1.5625;
  }
}
#container {
  width: 100%;
  overflow: hidden;
}

/* common */
/* PC,SPの非表示設定 */
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 880px;
  margin: 0 auto;
}

.section-bg {
  background: rgba(77, 150, 0, 0.102);
}

.ib-span {
  display: inline-block;
}

/* common-title */

/* header */
.header {
  width: 100%;
  height: 8.5rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
}

@media (max-width: 767px) {
  .header {
    height: 5rem;
  }
}

.header__inner {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .header__inner {
    padding: 0.8rem 0 0 2rem;
  }
}

/* ブレイクポイントは950px */
@media (max-width: 950px) {
  .header__inner {
    padding: 0 3rem;
  }
}

@media (max-width: 767px) {
   .header__inner {
    padding: 0 2rem;
  }
}

.header__logo a {
  display: flex;
  align-items: center;
  height: 8.5rem;
  transition: opacity 0.4s;
}

.header__logo a:hover {
  opacity: 0.7;
}

.header__logo-text {
  font-size: 2rem;
  line-height: calc(33 / 20);
  font-weight: 500;
  color: var(--font-color02);
}

.header__nav ul {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  color: var(--font-color02);
}

/* MV */
.mv {
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.mv__image img {
  width: 100%;
  height: auto;
  display: block;
}