@charset "UTF-8";
/* variable */
:root {
  --font-color: #000;
  --font-color02: #fff;
  --font-sans: "Yu Mincho", "YuMincho", "游明朝", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Noto Serif JP", serif;
  --main-color: #4D9600;
  --border-color-gray: #55A500;
}

/* base */
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
}

body {
  font-family: var(--font-sans);
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: medium;
  font-size: 1.8rem;
  line-height: 1.5625;
  color: var(--font-color);
}

@media (max-width: 767px) {
  body {
    font-size: 1.6rem;
    line-height: 1.5625;
  }
}

#container {
  width: 100%;
  overflow: hidden;
}

/* common */
/* PC,SPの非表示設定 */
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 920px;
  margin: 0 auto;
}


.section-bg {
  background: rgba(77, 150, 0, 0.102);
}

.ib-span {
  display: inline-block;
}

a:hover,
button:hover {
  cursor: pointer;
}

/* common-title */
.common-title {
  text-align: center;
}

.title-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-icon h2,
.title-icon h3 {
  display: block;
  margin: 0;
}

.common-title h2 {
  font-size: 3rem;
  line-height: calc(33 / 30);
  font-weight: 400;
  color: var(--main-color);
  letter-spacing: 0.3em;
  margin-bottom: 0.6rem;
}

.common-title h3 {
  font-size: 2rem;
  line-height: calc(33 / 20);
  font-weight: 400;
  color: var(--font-color);
  letter-spacing: 0.3em;
}



/* header */
.header {
  width: 100%;
  height: 8.5rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
  transition: background-color 0.4s, box-shadow 0.4s;
}

.header__inner {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .header__inner {
    padding: 0.8rem 0 0 2rem;
  }
}

/* ブレイクポイントは1030px */
@media (max-width: 1030px) {
  .header__inner {
    padding: 0 3rem;
  }
}

@media (max-width: 767px) {
   .header__inner {
    padding: 0 2rem;
  }
}

.header__logo a {
  display: flex;
  align-items: center;
  height: 8.5rem;
  transition: all 0.4s ease;
}

.header__logo a:hover {
  opacity: 0.6;
}

.header__logo-text {
  font-size: 2rem;
  line-height: calc(33 / 20);
  font-weight: 400;
  color: var(--font-color02);
}

.header__nav ul {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  color: var(--font-color02);
}

.header__nav ul a {
  height: 8.5rem;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: calc(33 / 18);
  font-weight: 400;
  transition: opacity 0.4s ease, color 0.4s ease;
  justify-content: center;
  color: var(--font-color02);
}

.header__nav ul a:hover {
  opacity: 0.6;
  color: var(--font-color);
  transition: all 0.4s ease;
}

/* MV */
.mv {
  position: relative;
  width: 100%;
  height: auto; /* ← 高さは画像に合わせる */
  z-index: 0;
}

.mv::after {
  content: '';
  background-color: rgba(0, 0, 0, .15);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.splide {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .splide {
    align-items: flex-end;
  }
}

.splide__slide {
  width: 100%;
  height: auto;

  @media (max-width: 767px) {
    height: 60.1rem;
  }
}

.splide__track,
.splide__slide,
.splide__slide img {
  width: 100%;
  height: auto;
  object-fit: cover; /* ← 全部autoにして画像高さに追従 */
}

.splide__slide img {
  width: 100%;
  height: auto;
  display: block;
}

.splide__track {
  position: relative;
  height: auto;     /* カンプに合わせる高さ */
  margin-top: 0;  /* headerの高さ分 */
  min-height: 80rem; /* 必要に応じて調整 */
  width: 100%;
  overflow: hidden; /* 高さは画像の比率に合わせる */
}

@media (max-width: 767px) {
  .splide__track {
    height: 100%;
  }  
}

.mv__contents {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;       /* 縦中央 */
  justify-content: center;   /* 横中央 */
  text-align: center;
  text-align: center;
  z-index: 1000;
  display: flex;
  }

@media (max-width: 767px) {
  .mv__contents {
    align-items: flex-end;
  }
}

.mv__catch {
  font-size: 4rem;
  line-height: calc(70 / 40);
  color: var(--font-color02);
  text-align: center;
  text-shadow: 0.4rem 0.2rem 0.2rem rgba(0, 0, 0, 1);
}

@media (max-width: 767px) {
  .mv__catch {
    font-size: 3rem;
    line-height: calc(60 / 30);
  }
}

/* about */
.about {
  position: relative;
}

.about__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30%;
  left: 30%;
  display: flex;
  transform: translate(-50%, -50%); /* 中央基準に補正 */
}

@media (max-width: 767px) {
  .about__contents {
    align-items: flex-end;
  }
}

.about__catch {
  writing-mode: vertical-rl;      /* 縦書き（右から左） */
  text-orientation: upright;     /* 文字を立てる（縦中横等を制御） */
  line-height: 1.6;              /* 行間（縦書きでは縦方向の間隔） */
}

.about__catch h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: calc(118 / 30);
}

/* service */
.service {
  padding: 8rem;
}

@media (max-width: 767px) {
  .service {
    padding: 5rem 3rem;
  }
}

.service__contents {
  margin-top: 6.8rem;
}

@media (max-width: 767px) {
  .service__contents {
    margin-top: 3.8rem;
  }
}

.service__items {
  display: flex;
  flex-direction: column;
  row-gap: 8rem;
}

@media (max-width: 767px) {
  .service__items {
    row-gap: 5rem;
  }
}

.service__item {
  position: relative;
  display: flex;
  column-gap: calc(40 / 880 * 100%);
  margin-bottom: 10rem;
}

/* 写真 */
.service-item__image {
  max-width: 60rem;
  width: 100%;
  flex-shrink: 0;
  z-index: 2;
  position: relative; /* ← ボックスの基準にする */
  aspect-ratio: 2 / 1; /* ← 高さを保つ：600×300比率 */
  overflow: hidden;
}

.service-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* 写真キャプション */
.service-item__text01 {
  position: absolute;
  margin-top: 32rem;
  left: 0;
  z-index: 3;
}

.service-item__text01 p {
  color: var(--font-color);
  font-size: 1.6rem;
  line-height: calc(25 /16);
}

/* 緑のボックス */
.service-item__text02 {
  position: absolute;
  right: -1.8rem;
  bottom: -15.5rem;
  width: 50rem;
  height: 25rem;
  background-color: var(--main-color);
  color:var(--font-color02);
  padding: 5rem 4rem 4.2rem 22rem;
  font-weight: 400;
  z-index: 1; /* ← 背面にするために画像より低く */
  bottom: -120px; /* ← ここをマイナスにすると下にずれる */
  z-index: 1;
}

.service-item__text02 h3 {
  font-size: 2.5rem;
  line-height: calc(33 / 25);
  margin-bottom: 1.7rem;
}
  
.service-item__text02 p {
  font-size: 1.6rem;
  line-height: calc(25 / 16);
}