@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* variable */
:root {
  --font-color: #505050;
  --font-sans: "Noto Sans JP", sans-serif;
  --main-color: #0D96A0;
  --border-color-gray: #707070;
}

/* base */
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
}

body {
  font-family: var(--font-sans);
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: calc(33 /18);
  color: var(--font-color);
  padding-top: 5rem;
}

@media (max-width: 767px) {
  body {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
  }
}

#container {
  width: 100%;
  overflow: hidden;
}

/* common */
/* PC,SPの非表示設定 */
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 880px;
  margin: 0 auto;
}

.section-bg {
  background: #0D96A01A;
}

.ib-span {
  display: inline-block;
}

/* common-title */
