@charset "UTF-8";
/* variable */
:root {
  --font-color: #000;
  --font-color02: #fff;
  --font-sans: "Yu Mincho", "YuMincho", "游明朝", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Noto Serif JP", serif;
  --main-color: #4D9600;
  --border-color-gray: #55A500;
}

/* base */
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
}

body {
  font-family: var(--font-sans);
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.5625;
  color: var(--font-color);
}

@media (max-width: 767px) {
  body {
    font-size: 1.6rem;
    line-height: 1.5625;
  }
}
#container {
  width: 100%;
  overflow: hidden;
}

/* common */
/* PC,SPの非表示設定 */
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 880px;
  margin: 0 auto;
}

.section-bg {
  background: rgba(77, 150, 0, 0.102);
}

.ib-span {
  display: inline-block;
}

/* common-title */

/* header */
.header {
  width: 100%;
  height: 8.5rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
}

.header__inner {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .header__inner {
    padding: 0.8rem 0 0 2rem;
  }
}

/* ブレイクポイントは950px */
@media (max-width: 950px) {
  .header__inner {
    padding: 0 3rem;
  }
}

@media (max-width: 767px) {
   .header__inner {
    padding: 0 2rem;
  }
}

.header__logo a {
  display: flex;
  align-items: center;
  height: 8.5rem;
  transition: opacity 0.4s;
}

.header__logo a:hover {
  opacity: 0.7;
}

.header__logo-text {
  font-size: 2rem;
  line-height: calc(33 / 20);
  font-weight: 500;
  color: var(--font-color02);
}

.header__nav ul {
  display: flex;
  align-items: center;
  column-gap: 3rem;
  color: var(--font-color02);
}

/* ハンバーガーメニュー */
/* ヘッダースタイル */
@media (max-width: 767px) {
  .header {
    height: 5rem;
    background-color: var(--main-color);
  }
}

/* ハンバーガーメニュー */
.hamburger {
  position: fixed;
  right: 0;
  width: 80px;
  height: 80px;
  background: var(--main-color);
  border: 2px solid #000;
}

/* 三本線 */
.hamburger-line,
.hamburger-line::before,
.hamburger-line::after {
  position: absolute;
  left: 16px;
  width: 44px;
  height: 4px;
  background: #000;
  -webkit-transition: .3s;
  transition: .3s;
}
.hamburger-line::before,
.hamburger-line::after {
  content: "";
  left: 0;
}
.hamburger-line::before {
  top: -16px;
}
.hamburger-line::after {
  top: 16px;
}

/* ナビゲーション（中身） */
.header-menu {
  position: fixed;
  width: 320px;
  top: 78px;
  right: 0;
  bottom: 0;
  border: 2px solid #000;
  overflow: hidden;
  display: none;
}
.header-menu ul {
  margin: 0;
  padding: 36px;
  text-align: center;
  list-style: none;
  font-size: 24px;
}
.header-menu ul li:not(:last-of-type) {
  margin-bottom: 36px;
}

/* MV */
.mv {
  margin-top: 0;
  position: relative;
  z-index: 1;
  height: 80rem;
}

@media (max-width: 767px) {
  .mv {
    height: 60.1rem;
  }
}

.mv::after {
  content: '';
  background-color: rgba(0, 0, 0, .15);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.splide__slide {
  width: 100%;
  height: auto;

  @media (max-width: 767px) {
    height: 60.1rem;
  }
}

.splide__slide img {
    height: 100%;
    object-fit: cover;
}

.mv__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 4rem;
  line-height: calc(70 / 40);
  color: var(--font-color02);
  text-align: center;
  text-shadow: 0.4rem 0.2rem 0.2rem rgba(0, 0, 0, 1);
}

/* about */
.about {
  position: relative;
}

.about__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-top: 110px;
}

@media (max-width: 767px) {
  .about__contents {
    align-items: flex-end;
  }
}

.about__catch {
  writing-mode: vertical-rl;      /* 縦書き（右から左） */
  justify-content: center; /* 横方向の中央揃え */
  text-orientation: upright;     /* 文字を立てる（縦中横等を制御） */
  line-height: 1.6;              /* 行間（縦書きでは縦方向の間隔） */
}

.about__catch h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: calc(118 / 30);
}