/* variable

\:root
  --font-color:#505050
  --font-sans:"Yu Mincho", "YuMincho", "游明朝", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Noto Serif JP", serif
  --main-color:#0D96A0
  --border-color-gray:#707070

/* base

html
  -webkit-appearance: none
  -webkit-text-size-adjust: 100%
  scroll-behavior: smooth
  word-break: break-all
  font-size: 10px

body
  font-family: var(--font-sans)

  /* font-optical-sizing: auto;
  font-weight: 500
  font-style: normal
  font-size: 1.8rem
  line-height: calc(33 /18)
  color: var(--font-color)
  padding-top: 5rem

@media (max-width: 767px)
  body
    font-size: 1.6rem
    line-height: calc(30 / 16)

#container
  width: 100%
  overflow: hidden

/* common
/* PC,SPの非表示設定
@media (max-width: 767px)
  .pc
    display: none !important

@media (min-width: 768px)
  .sp
    display: none !important

img
  width: 100%
  height: auto
  display: block

.inner
  max-width: 880px
  margin: 0 auto

.section-bg
  background: #0D96A01A

.ib-span
  display: inline-block

/* common-title

/* header

.header
  width: 100%
  height: 8.5rem
  background: transparent
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  top: 0
  left: 0
  z-index: 999

.header__inner
  max-width: 1080px
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 8rem

/* ブレイクポイントは950px
@media (max-width: 950px)
  .header__inner
    padding: 0 3rem
