@charset "UTF-8";

// =====================================
// variable
// =====================================
$font-color: #000;
$font-color02: #fff;
$font-sans: "Yu Mincho", "YuMincho", "游明朝", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Noto Serif JP", serif;
$main-color: #4D9600;
$border-color-green: #55A500;
$border-color-grey: #505050;
$scrollbar-color01: #9B9B9B; // つまみ
$scrollbar-color02: #E3E3E3; // 背景（トラック）

// =====================================
// base
// =====================================
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
}

body {
  font-family: "Yu Mincho", "游明朝", "YuMincho", "Hiragino Mincho ProN", "Noto Serif JP", serif;
  font-size: 1.6rem;
  line-height: calc(25 /16);
  font-weight: 400;
  color: $font-color;
  letter-spacing: 0;
}

html.is-fixed,
body.is-fixed {
  overflow: hidden;
}

#container {
  width: 100%;
  overflow: hidden;
}

// スマホサイズ
@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}

// PCサイズ
@mixin pc {
  @media (min-width: 1024px) {
    @content;
  }
}

// タブレットサイズ
@mixin tab-only {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

// スマホ（小）サイズ
@mixin sp-small {
  @media (max-width: 350px) {
    @content;
  }
}

// =====================================
// common（共通設定）
// =====================================
// PC、SPの非表示
@include sp {
  .pc {
    display: none !important;
  }
}
@include pc {
  .sp {
    display: none !important;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 92rem;
  margin: 0 auto;
}

section {
  scroll-margin-top: 8rem;

  @include sp {
    scroll-margin-top: 5rem;
  }
}


.section-bg {
  background: rgba(77, 150, 0, 0.102);
}

.ib-span {
  display: inline-block;
}

a:hover,
button:hover {
  cursor: pointer;
}

// 改行制御
.sp-br,
.pc-br,
.tb-br {
  display: none;
}

// sp
@media (max-width: 767px) {
  .sp-br {
    display: inline;
  }
}

// タブレット
@media (min-width: 768px) and (max-width: 1023px) {
  .tb-br { 
    display: inline;
  }
}

// pc
@media (min-width: 1024px) {
  .pc-br { 
    display: inline;
  }
}

.no-wrap {
  white-space: nowrap;
}

.pc-only {
  display: none;
  @include pc {
    display: inline;
  }
}


.sp-only {
  display: none;
  @include sp {
    display: inline;
  }
}


a {
  cursor: pointer;
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.fade-up.is-active {
  opacity: 1;
  transform: translateY(0);
}

body.is-fixed .top-back-btn {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
}

// common-title
.common-title {
  text-align: center;
  
  h2 {
    font-size: 3rem;
    line-height: calc(33 / 30);
    color: $main-color;
    letter-spacing: 0.3em;
    margin-bottom: 0.8rem;
  }
  
  p {
    font-size: 2rem;
    line-height: calc(33 / 20);
    color: $font-color;
    letter-spacing: 0.3em;
  }
}

h4 {
  font-size: 1.6rem;
  line-height: calc(25 / 16);
}

// =====================================
// header
// =====================================
.header {
  width: 100%;
  height: 8rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.4s ease;
  opacity: 1;
  filter: none;  
  &.active {
    background-color: $main-color;
  }
  
  //  スクロール後に追加されるクラス
  &.is-colored {
    background-color: $main-color;
  }
  
  @include sp {
    height: 5rem;
  }
  
  &__inner {
    max-width: 980px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-inline: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    @include sp {
      padding-inline: 2rem;
    }
  }

&__logo {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;

  a {
    font-size: 2rem;
    line-height: calc(20 / 20);
    display: flex;
    align-items: center;    
    height: 100%;
    @include sp {
      height: 5rem;
    }

    @include pc {
      transition: opacity 0.4s ease;
      &:hover {
        opacity: 0.7;
      }
    }
}

&-text {
  font-size: 2rem;
  line-height: 1;
  color: $font-color02;
  @include sp {
    line-height: calc(33 / 20);
  }
}
}

&__nav {
  ul {
    display: flex;
    align-items: center;
    column-gap: 3.1rem;
    color: $font-color02;
    @include tab-only {
      column-gap: 2.5rem;
    }
    li {
      a {
        height: 8rem;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        line-height: calc(18 / 18);
        color: $font-color02;
        text-decoration: none;
        transition: opacity 0.4s ease;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 2.6rem;
          width: 100%;
          height: 0.1rem;
          background-color: $scrollbar-color02;
          transform: translateX(-50%) scaleX(0);
          transform-origin: left;
          transition: transform 0.4s ease;
        }
        &:hover::after {
          transform: translateX(-50%) scaleX(1);
        }
        @include tab-only  {
          font-size: 1.3rem;
        } 
      }
    }
  }
}

// changeクラスが付いた場合
&.change {
  .is-colored {
    opacity: 1 !important;
    mix-blend-mode: normal !important;
    backdrop-filter: none !important;
    filter: none !important;
  }
}

// ハンバーガーメニュー（SP）
&__hamburger {
  position: relative;
  z-index: 9999;
  display: none;
  @include sp {
    display: block;
  }
  
  .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 7.2rem;
    height: 5rem;
    background: $font-color02;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    
    // 三本線
    .hamburger-line,
    .hamburger-line::before,
    .hamburger-line::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 3.2rem;
      height: 0.4rem;
      background: $main-color;
      border-radius: 10px;     /* ← 丸みをつける */
      transition: top 0.4s ease,
                  transform 0.4s ease,
                  background-color 0.4s ease;
    }
    // 中央
    .hamburger-line {
      top: 50%;
      transform: translateY(-50%);
    }
    // 上
    .hamburger-line::before {
      top: -1.2rem;
    }
    // 下
    .hamburger-line::after {
      top: 1.2rem;
    }
    
    // メニューが開いた時の三本線
    &.active {
      .hamburger-line { 
        background-color: transparent;
      }
      .hamburger-line::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      .hamburger-line::after {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}
}

// =====================================
// SPナビゲーション
// =====================================
.sp-nav {
  position: fixed;
  width: 30rem;
  top: 5rem;
  right: 0;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 2000;
  background: $main-color;
  
  &__lists {
    margin: 0;
    text-align: left;
    list-style: none;
    font-size: 1.8rem;
    line-height: calc(33 /18);
    font-weight: 600;
    
    a {
      color: $font-color02;
      text-decoration: none;
      display: block;
      padding: 1.2rem 0 1.3rem 2rem;
      transition: none;
    }
  }
  
  &.active {
    display: block;
    transform: translateX(0);
  }
}
// =====================================
// FV
// =====================================
.fv {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
  }
  &__contents {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 1.7rem 0 0 1.5rem;
    @include sp {
      padding: 1.5rem 0 0 1rem;
    }
    h2 {
      font-size: 4rem;
      line-height: calc(70 / 40);
      font-weight: 600;
      letter-spacing: 0.3em;
      color: $font-color02;
      text-shadow: 0.5rem 0.5rem 0.5rem #000;
      text-align: center;
      @include sp {
        font-size: 3rem;
        line-height: calc(60 / 30);
      }
    } 
  }
  &__sp-br {
    display: none;
    @include sp {
      display: inline !important;
    }
  }
  &__pc-br {
    display: inline;
  }
}

// =====================================
// about
// =====================================
.about {
  position: relative;
  width: 100%;
  
  &__contents {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    @include sp {
      flex-direction: column;
      align-self: center;
      justify-content: center;
      display: flex;
    }
  }

  &__catch {
    writing-mode: vertical-rl;      /* 縦書き（右から左） */
    text-orientation: upright;     /* 行間（縦書きでは縦方向の間隔） */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0;
    @include tab-only {
      gap: 3rem;
    }
    @include sp {
      writing-mode: horizontal-tb;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    
    h2 {
      font-size: 3rem;
      letter-spacing: 0.15em;
      line-height: 1.18;
      margin: 0;

      @include tab-only {
        font-size: 2.8rem;
        letter-spacing: 0.15em;
        line-height: 1.18;
      }
      
      @include sp {
        font-size: 2.5rem;
        letter-spacing: 0.22em; /* 119% に相当 */
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }

      @media (max-width: 370px) {
        font-size: 2.3rem;
      }
    }
  }
  
  &__text {
    writing-mode: vertical-rl;
    text-orientation: upright;

    @include sp {
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }

    p {
      font-size: 1.8rem;
      margin: 0;
      letter-spacing: 0.4em;
      line-height: 2.68;
      @include tab-only {
        font-size: 1.7rem;
        letter-spacing: 0.4em;
        line-height: 2.4;
      }
      @include sp {
        font-size: 1.6rem;
        line-height: 1.6;
        letter-spacing: 0.25em;
      }
      @media (max-width: 370px) {
        font-size: 1.2rem;
      }
    }
  }
}

.about__contents__inner {
  padding-left: calc(12.5%);
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  @include tab-only {
    display: flex;
    align-items: center;
    min-height: 100%;
  }
  @include sp {
    padding-left: 0;
  }
}

@include sp {
  .about__image {
    aspect-ratio: 375 /584;
    overflow: hidden;
  }
}

// =====================================
// service
// =====================================
.service {
  padding: 8rem 3rem 3.1rem;
  @include sp {
     padding: 5rem 3rem;
     }

  &__contents {
    margin-top: 6.7rem;

   @include sp {
      margin-top: 3.6rem;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 8.1rem;

    @include sp {
      row-gap: 5rem;
    }
  }

  &__item {
    display: flex;
    align-items: flex-end;

    &:last-child {
      margin-bottom: 5rem;
    }

    @include sp { 
      margin-bottom: 0;

       &:nth-of-type(3) {
        margin-bottom: 0;
        }
      }

      .service__pc-br {
        display: block;
        @include sp {
          display: none;
        }
      }
    
    &__image-area {
      width: 65.2%;
      height: auto;
      position: relative;
      z-index: 2;
      padding-bottom: 5.1rem;
      flex-shrink: 1;
      min-width: 0;
      @include tab-only {
        padding-bottom: 2rem;
      }
      @include sp {
        width: 100%;
        max-width: 100%;
        padding-bottom: 0;
      }
    }

    &__text-bg {
      position: relative;
      padding: 15% 9% 13% 21%;
      width: 100%;
      @include tab-only {
        padding: 15% 6% 13% 12%;
      }
      @include sp {
        padding: 2rem 2rem 1.2rem;
      }
      &::before {
        content: "";
        position: absolute;
        left: -56%;
        right: 0;
        bottom: 0;
        height: 100%;
        background: $main-color;
        z-index: 0;
      }
      @include sp {
        &::before {
          width: 100%;
          left: 0;
          right: 0;
        }
      }
    }

    &__image {
      width: 100%;
      overflow: hidden;
      position: relative;
      z-index: 2;
      aspect-ratio: 2 / 1;
      height: auto;
      img {
        height: 100%;
        object-fit: cover;
      }
      @include tab-only {
        aspect-ratio: auto;
      }
      @include sp {
         aspect-ratio: auto;
        }
      }

    // キャプション（画像下）
    &__capture {
      margin-top: 1.8rem;
      text-align: left;
      z-index: 3;
      p {
        margin: 0;
      }
      @include sp { 
        margin-top: 0.5rem;
        text-align: left;
      }
    }

    // 緑ボックス
    &__text-area {
      width: calc(100% - 65.2%);
      color: $font-color02;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: flex-end;
      flex-shrink: 1;
      min-width: 0;
      @include sp {
        position: static;
        width: 100%;
        margin-top: 0.6rem;
        aspect-ratio: auto;
        height: auto;
        z-index: auto;
        background-color: $main-color;
      }
    }

    &__title {
      position: relative;
      z-index: 1;

      h3 {
        font-size: 2.5rem;
        line-height: calc(33 / 25);
        @include tab-only {
          font-size: 1.8rem;
        }

        @include sp  { 
          font-size: 2rem;
          line-height: calc(25/ 20);
          margin-bottom: 1.4rem;
        }
        @include sp-small  { 
          font-size: 1.8rem;
        }
      }
    }
    
    &__text {
      margin-top: 1.7rem;
      position: relative;
      z-index: 1;
      @include sp {
        margin-top: 1rem;
      }
      
      p {
        @include tab-only {
          font-size: 1.4rem;
        }
        @include sp {
           font-size: 1.6rem;
           }
        @include sp-small {
           font-size:
            1.4rem;
        }
      }
    }
    /* Demibold */
    &__title h3,
    &__text p {
      font-weight: 600;
    }
  }
}

// 2つめのブロックを反転
.service__items {
  > .service__item:nth-of-type(even) {
      flex-direction: row-reverse;
      @include sp {
        flex-direction: column;
      }
      &::after {
        right: auto;
        left: -56%;
        width: 156%;
      }

      .service__item__capture {
        text-align: right;
        @include sp {
          text-align: left;
        }
      }

      .service__item__text-area {
        margin-left: 0;
        margin-right: 0;
        @include tab-only {
          width: calc(100% - 65.2%);
        }
        @include sp {
          margin-right: 0;
        }
      }

      .service__item__text-bg {
        padding: 15% 21% 13% 12%;
        @include tab-only {
          padding: 15% 12% 13% 8%;
        }
        &::before {
        left: auto;
        right: -56%;
        width: 156%;
        height: 100%;
        @include sp {
          left: 0;
          right: 0;
          width: 100%;
        }
      }
        @include sp {
          padding: 2rem 2rem 1.2rem;
        }
      }

    }
  }

// スマホサイズのときに一列に
@include sp {
  .service__item {
    flex-direction: column;
    &::after {
      display: none;
    }
  }
  .service__items > .service__item:nth-of-type(even) {
    flex-direction: column;
  }
  .service__item__capture {
    text-align: left;
  }
}

// =====================================
// works
// =====================================
.works {
  padding: 8rem 3rem 9.8rem;
  @include sp {
    padding: 5rem 3rem 4.3rem;
  }
}
.works__contents {
  margin-top: 6.5rem;
  @include sp {
    margin-top: 3.7rem;
  }
}
.works__items {
  display: flex;
  column-gap: calc(40 / 880 * 100%);
  width: 100%;
  justify-content: flex-start;
  @include sp {
    flex-direction: column;
    row-gap: 2rem;
  }
}
.works__item {
  width: calc((100% - (4.3% * 3)) / 4);/* gap 3つ分を引いて4等分 */
  max-width: 100%;
  box-sizing: border-box;
}

@include sp {
  .works__item {
    flex: 1;
    width: 100%;
  }
}

.works-item__link {
  display: block;
  text-decoration: none;
  color: inherit;

  @include pc {
    &:hover {
      .works-item__image {
        opacity: 0.7;
      }
      .works-item__title h3 {
        color: $main-color;
      }
    }
  }
}
.works-item__image {
  width: 100%;
  transition: opacity 0.4s ease;
}
.works-item__title {
  margin-top: 2rem;
  text-align: left;
  @include sp {
    margin-top: 1rem;
  }
  h3 {
    transition: color 0.4s ease;
  }
}

// =====================================
// works-modal
// =====================================
.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 20000;
  background-color: rgba(0, 0, 0, 0.502);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  @include sp {
    overflow-y: auto;
    padding: 3rem 1.5rem;
    text-align: left;
  }
  &.is-active {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
  }
  &__content {
    position: relative;
    z-index: 2;
    background: $font-color02;
    width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 1.5rem 0.7rem;
    box-sizing: border-box;
    @include sp {
      width: 31.5rem;
      height: auto;
      padding: 2rem 2rem 1.5rem;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  &__img-inner {
        width: 42rem;
        height: 22rem;
        @include sp {
          width: 100%;
          height: auto;
        }
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      
      &__content-caption {
        margin-top: 0.8rem;
        font-size: 1.6rem;
        line-height: calc(25 / 16);
        text-align: left;
        width: 100%;
        @include sp {
          margin-top: 0.8rem;
        }
      }
      &__content-close {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 0.7rem;
        right: 0.7rem;
        cursor: pointer;
        padding: 0;
        z-index: 3;
        @include sp {
          right: 0.4rem;
        }
        
        span {
          display: block;
          width: 100%;
          height: 0.1rem;
          background-color: $font-color;
          position: absolute;
          top: 50%;
          left: 50%;
        }
        
        span:nth-of-type(1) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        span:nth-of-type(2) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        
        &:hover {
          color: $main-color;
        }
      }
    }
    .is-fixed {
      overflow: hidden;
    }


// =====================================
// news
// =====================================
.news {
  padding: 8rem 3rem;
  @include sp {
    padding: 5rem 3rem 5.1rem;
  }
  
  &_contents {
    margin-top: 6.6rem;
    display: flex;
    justify-content: flex-start;
    column-gap: 6.5%;
    @include sp {
      margin-top: 3.6rem;
      flex-direction: column;
      row-gap: 5.1rem;
    }
  }
  &__blocks {
    width: calc((100% - 6.5%) / 2);// ← gap1つ分引いて2等分
    max-width: 43rem;
    box-sizing: border-box;
    flex: 0 0 auto;
    @include sp {
      flex-direction: column;
      row-gap: 5rem;
      width: 100%;
      max-width: 100%;
      flex: 0;
      box-sizing: border-box;
    }
  }
}

// 個々のブロック設定
.news-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $font-color02;

  &__title {
    width: 100%;
    height: 5rem;
    background-color: $main-color;
    padding-left: 2rem;
    color: $font-color02;
    align-items: center;
    display: flex;
    h3 {
      font-size: 2rem;
      line-height: calc(33 / 20);
      font-weight: 600;
    }
  }
  &__contents {
    padding: 1.1rem 2rem 2rem;
    @include sp {
      padding: 1.1rem 2rem 2rem 2rem;
    }
  }
  .news-block-item {
    border-bottom: 0.1rem solid $border-color-green;
    a {
      display: flex;
      align-items: flex-start;
      column-gap: 17%;
      padding: 1.2rem 0;
      transition: opacity 0.4s ease;
      @include sp {
      column-gap: 1.5rem;
    }
    &:hover {
      opacity: 0.7;
    }
    @include sp {
      &:hover {
        opacity: 1;
      }
    }
  }

    &__date {
      time {
        font-size: 1.6rem;
        line-height: calc(33 / 16);
        display: inline-block;
        align-items: flex-start;
      }
    }
    &__title {
      flex: 1;
      padding-top: 0.7rem;
      h4 {
        font-size: 1.8rem;
        line-height: calc(25 / 18);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
    } 
  } 
}

// moreボタン
.news-block__link {
  display: flex;
  justify-content: flex-end;
  margin: 2.4rem 0 0 0;
  @include sp {
    margin: 1.8rem 0 0 0;
  }
  a {
    width: 8rem;
    font-size: 2rem;
    line-height: calc(20 / 20);
    font-weight: 600;
    color: $border-color-green;
    display: block;
    position: relative;
    transition: transform 0.4s ease;
    padding: 0 3.3rem 1.1rem 0;
    white-space: nowrap;
    @include sp {
      line-height: calc(33 / 20);
      padding: 0 3.3rem 0.4rem 0;
    }
  
    &:hover {
      transform: translateX(1rem);
    }
    @include sp {
      &:hover {
        transform: none;
      }
    }
    .arrow {
      width: 100%;
      height: 1.8rem;
      position: absolute;
      bottom: 0;
      left: 0;

      // 下線部分
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0.7rem;
        width: 100%;
        height: 0.1rem;
        background-color: $border-color-green;
      }
      
      span {
        width: 0.1rem;
        height: 100%;
        background-color: $border-color-green;
        position: absolute;
        bottom: 0;
        right: 1.1rem;
      }
      &::before {
        content: '';
        width: 1.7rem;
        height: 0.1rem;
        background-color: $border-color-green;
        position: absolute;
        right: 0;
        bottom: 0.7rem;
        transform: rotate(45deg);
        transform-origin: right center;
      }
    }
    @include sp {
      &:hover {
        transform: none;
      }
    }
  }
}

// =====================================
// company
// =====================================
.company {
  padding: 8rem 3rem;
  @include sp {
    padding: 5rem 3rem;
  }

  &__contents {
    margin-top: 6.7rem;
    @include sp {
      margin-top: 2rem;
    }
  }
  .company-item {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    @include sp {
      flex-direction: column;
      row-gap: 2.1rem;
    }
    // 左側：地図
    &__map-area {
      width: 65.2%;
      padding-bottom: 6.1rem;
      position: relative;
      z-index: 3;
      @include sp {
        width: 100%;
        padding-bottom: 0;
      }
    }
    &__map {
      width: 100%;
      height: auto;
      aspect-ratio: 3 / 2;
      flex-shrink: 1;
      min-width: 0;
      overflow: hidden;
      @include sp {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 315 / 300;
        min-height: 31.5rem;
      }

      iframe {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    // 右側：緑のボックスエリア 
    &__info {
      width: calc(100% - 65.2%);
      height: auto;
      position: relative;
      z-index: 2;
      flex-shrink: 1;
      min-width: 0;
      font-weight: 600;
      color: $font-color02;
      @include sp {
        width: 100%;
        max-width: 100%;
      }
    }

    &__info-inner {
      position: relative;
      padding: 15% 9% 13% 12%;
      width: 100%;
      z-index: 1;
      @include sp {
        padding: 1.9rem 1.5rem 1.2rem 2rem;
      }
      &::before {
        content: "";
        position: absolute;
        left: -56%;
        right: 0;
        bottom: 0;
        height: 100%;
        background: $main-color;
        z-index: -1;
      }
      @include sp {
        &::before {
          width: 100%;
          left: 0;
          right: 0;
        }
      }
    }

  &__name
     p {
      font-size: 2rem;
      line-height: calc(33 / 20);
      @include tab-only {
        font-size: 1.6rem;
      }
    }

    &__address {
      margin-top: 0.8rem;
      @include tab-only {
        font-size: 1rem;
      }
    }

    &__tel {
      margin-top: 1.4rem;
      @include sp {
        margin-top: 1.3rem;
      }
      p {
        display: flex;
        align-items: baseline;
        line-height: 1;
        gap: 0.6rem;
      }
      .tel-label {
        font-size: 1.6rem;
        line-height: calc(25 / 16);
      }
      a {
        line-height: 1;
        @include pc {
          pointer-events: none;
          cursor: default;
        }
        span {
          font-size: 2.5rem;
          line-height: 1;
          @include tab-only {
            font-size: 2rem;
          }
        }
      }
    }

    &__mail {
      margin-top: 1.7rem;
      p {
        display: flex;
        gap: 1.7rem;
        @include tab-only {
          font-size: 1.3rem;
        }
      }
      a {
        transition: opacity 0.4s ease;
      }
      a:hover {
        opacity: 0.7;
        @include sp {
          opacity: unset;
        }
      }
    }
  }
}

// =====================================
// contact
// =====================================
.contact {
  background-color: rgba(77, 150, 0, 0.15);
  padding: 8rem 0;
  @include sp {
    padding: 5rem 0;
  }
  .inner {
    width: 100%;
    max-width: 86rem;
    padding: 0 3rem;
    @include sp {
      padding: 0 3rem;
    }
  }
  &__contents {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  @include sp {
    gap: 4rem;
  }
}
&__text {
  p {
    font-size: 2rem;
    line-height: calc(33 / 20);
  }
}
&__form-block {
  dl:not(:first-of-type) {
    margin-top: 5rem;
    @include sp {
      margin-top: 3rem;
    }
  }
  
  dl.checkbox-group {
    margin-top: 4.9rem;
    @include sp {
      margin-top: 3rem;
      dt {
        font-size: 2rem;
        line-height: calc(27 / 20);
      }
    }
  }

  dt {
    font-size: 2rem;
    line-height: calc(33 / 20);
  }

  dd {
    .form-control {
      width: 100%;
      height: 5rem;
      background: #fff;
      padding: 0 2rem;
      font-size: 1.8rem;
      line-height: calc(25 / 18);
      @include sp {
        font-size: 1.6rem;
        line-height: calc(25 / 16);
      }
      &::placeholder {
        color: #A0A0A0;
        font-size: 1.8rem;
        line-height: calc(25 / 18);
        @include sp {
          font-size: 1.6rem;
          line-height: calc(25 / 16);
        }
      }
    }
    .form-textarea {
      height: 20rem;
      padding: 2rem;
      line-height: 1.6;
      word-break: break-all;
      resize: none;
      display: block;
    }
  }
}
.message-area,
.privacy-area {
  dd {
    margin-top: 1.1rem;
    @include sp {
      margin-top: 0;
    }
  }
} 
.form-flex {
  display: flex;
  align-items: center;
  @include sp {
    display: block;
  }
  dt {
    width: 17rem;
  }
  dd {
    flex: 1;
  }
  &.sp-flex {
    @include sp {
      display: flex;
    } 
    dt {
      @include sp {
        width: 9rem;
      }
       @media screen and (max-width: 350px) {
        width: 7rem;
      } 
    }
    .form-radio {
      @include sp {
        column-gap: 4rem;
      }
      @media screen and (max-width: 350px) {
        column-gap: 2rem;
      }
    }
  }
  &:not(:first-of-type) {
    margin-top: 5rem;
    @include sp {
      margin-top: 3rem;
    }
  }
}
  // radio
  .form-radio {
    display: flex;
    column-gap: 7.4rem;
    font-size: 1.8rem;
    line-height: calc(25 / 18);
    .radio-item {
      display: flex;
      cursor: pointer;
      input[type="radio"] {
        & + span {
          display: block;
          padding-left: 4rem;
          position: relative;
          @include sp {
            padding-left: 3rem;
          }
          &::before {
            content: '';
            width: 2rem;
            height: 2rem;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%); 
          }
          &::after {
            content: '';
            width: 0.6rem;
            height: 0.6rem;
            background: #000;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0.7rem;
            transform: translateY(-50%);
            display: none;
          }
        }
        &:checked + span {
          &::after {
            display: block;
          }
        }
      }
    }
  }
  // select
  .form-select {
    position: relative;
    font-size: 1.8rem;
    line-height: calc(25 / 18);
    select {
      align-items: center;
      cursor: pointer;
    }
    @include sp {
      font-size: 1.6rem;
    }
    &::before {
      content: '';
      width: 2rem;
      height: 1.2rem;
      background: $main-color;
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      pointer-events: none;
    }
  }
  // checkbox
  .form-checkbox {
    display: grid;
    gap: 1.5rem 0.2rem;
    font-size: 1.8rem;
    line-height: calc(25 / 18);
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(16.6rem, 1fr));
    @include sp {
      margin-top: 0;
      font-size: 1.6rem;
      line-height: calc(25 / 16);
      gap: 0.5rem 0;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .checkbox-col {
      display: flex;
      justify-content: flex-start;
      width: fit-content;
      min-width: 0;
    }
    // クリック領域
    .checkbox-item {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      min-width: 0;
      input[type="checkbox"] {
        & + span {
          display: inline-block;
          padding-left: 4rem;
          position: relative;
          white-space: nowrap;
          @include sp {
            padding-left: 3rem;
          }

          &::before {
            content: '';
            width: 2rem;
            height: 2rem;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%); 
          }
          &::after {
            content: '';
            width: 1.8rem;
            height: 1rem;
            border-left: .4rem solid $main-color;
            border-bottom: .3rem solid $main-color;
            position: absolute;
            top: 45%;
            left: 0.1rem;
            transform: translateY(-50%) rotate(-55deg);
            display: none;
          }
        }
        &:checked + span {
          &::after {
            display: block;
          }
        }
      }
    }
  }
  // privacy-policy
  .privacy-policy {
    padding: 1rem;
    background: #fff;
    &__inner {
      width: 100%;
      height: 28rem;
      overflow-y: scroll;
      @include sp {
        height: 30.3rem;
      }
      &::-webkit-scrollbar {
        width: 1rem;
        background: $scrollbar-color02;
      }
      &::-webkit-scrollbar-thumb {
        background: $scrollbar-color01;
        height: 3rem; 
      }
    }
    &__contents {
      padding: 3rem;
      line-height: calc(31 / 16);
      @include sp {
        padding: 2rem 3rem 2rem 2rem;
      }
      h3 {
        font-size: 1.8rem;
        line-height: calc(31 / 18);
        @include sp {
          font-size: 1.6rem;
          line-height: calc(33 / 16);
        }
        &:not(:first-of-type) {
          margin-top: 3.1rem;
          @include sp {
            margin-top: 3.3rem;
          }
        }
      }
      p, li {
        font-size: 1.8rem;
        line-height: calc(31 / 18);
        @include sp {
          font-size: 1.6rem;
          line-height: calc(33 / 16);
        }
      }
      address {
        margin-top: 3.1rem;
        @include sp {
          margin-top: 3.3rem;
        }
      }
    }
    &__list {
      margin-top: 3.1rem;
      @include sp {
        margin-top: 3.3rem;
      }
    }
  }
  // submit-btn
  .submit-btn {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    @include sp {
      margin-top: 5.1rem;
    }
    button {
      width: 30rem;
      height: 5rem;
      background: $main-color;
      font-size: 2rem;
      line-height: calc(33 / 20);
      color: #fff;
      font-weight: 600;
      display: grid;
      place-content: center;
      border: 0.1rem solid $main-color;
      transition: background-color 0.4s, color 0.4s ease;
      @include sp {
        width: 31.5rem;
      }
      &:hover {
        background: #fff;
        color: $main-color;
      }
      @include sp {
        &:hover {
          background: $main-color;
          color: #fff;
        }
      }
    }
  }
}

// =====================================
// footer
// =====================================
.footer {
  &__main {
    background-color: $font-color02;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 33.8rem;
    padding: 8.1rem 3rem;
    text-align: center;
    width: 100%;
    @include sp {
      height: auto;
      padding: 5rem 3rem 4.9rem;
    }
  }
  &__inner {
    max-width: 72.2rem;
    margin: 0 auto;
    width: 100%;
  }
  &__logo {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2.7rem;
    border-bottom: 1px solid $font-color;
    text-align: center;
    @include sp {
      padding-bottom: 1.8rem;
    }
    a {
      cursor: pointer;
      transition: opacity 0.4s ease;
      display: inline-block;
      font-size: 2rem;
      line-height: calc(33 / 20);
      &:hover {
        opacity: 0.7;
      }
      @include sp {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__nav {
    margin-top: 2.6rem;
    @include sp {
      margin-top: 1.9rem;
    }
    ul {
      display: flex;
      justify-content: center;
      column-gap: 5.1rem;
      row-gap: 0.8rem;
      @include tab-only {
      column-gap: 4rem;
      }
      @include sp {
        flex-wrap: wrap;
        column-gap: 2.1rem;
        row-gap: 0.5rem;
      }
      li {
        text-align: center;
        @include sp {
          display: flex;
          justify-content: center;
        }
        a {
          font-size: 1.8rem;
          line-height: calc(33 / 18);
          color: $font-color;
          transition: opacity 0.4s ease;
          white-space: normal;
          display: block;
          text-align: center;
          &:hover {
            opacity: 0.7;
          }
          @include sp {
            padding: 0 0.49rem;
            white-space: nowrap;
            &:hover {
              opacity: 1;
            }
          }
          @include sp-small {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  &__sns {
    margin-top: 3.1rem;
    @include sp {
      margin-top: 3.1rem;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 3rem;
      @include sp {
        row-gap: 2rem;
      }
      li {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.8rem;
          transition: opacity 0.4s ease, transform 0.4s ease;
          &:hover {
              opacity: 0.7;
              transform: scale(1.2);
            }
            @include sp {
              &:hover {
                opacity: 1;
                transform: none;
              }
            }
          .twitter,
          .facebook,
          .youtube,
          .instagram {
            width: 2.8rem;
          }
        }
      }
    }
  }

  &__copyright {
    width: 100%;
    height: 9.2rem;
    background: $main-color;
    color: $font-color02;
    display: grid;
    place-content: center;
    text-align: center;
    @include sp {
      padding-top: 0.2rem;
    }
    p {
      font-size: 2rem;
      line-height: calc(33 / 20);
      @include sp {
        line-height: calc(25 / 20);
      }
    }
    .copy-left {
      margin-right: 1.4rem;
      @include sp {
        margin-right: 0;
      }
    }
  }
}
// =====================================
// トップに戻るボタン
// =====================================
.top-back-btn {
  position: fixed;
  bottom: 6rem;
  right: 6rem;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  @include sp {
      right: 2rem;
    }   
  &.show {
    opacity: 1;
    visibility: visible;
  }
  &__icon {
    width: 6.8rem;
    height: 6.8rem;
    background: $main-color;
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: transform 0.4s ease, opacity 0.4s ease;
    @include sp {
      width: 5rem;
      height: 5rem;
    }
    &-img {
      width: 2.3rem;
      @include sp {
        width: 1.7rem;
      }
    }
    &:hover {
      opacity: 0.7;
    }
    @include sp {
      &:hover {
        opacity: 1;
        transform: none;
      }
    }
  }
}

